

.cart-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: auto;
}

.cart-items {
    width: 45vw;
    background-color: green;
}

.cart-price-info {
    width: 25vw;
    background-color: yellow;
}