$imperial-red: #e63946ff;
$rich-black-fogra-29: #0e1116ff;
$magnolia: #ece6ef;
$dark-blue-gray: #616283ff;
$bright-lilac: #cb9cf2ff;
$bright-magnolia: #f6f3f7;

.product-form-button {
  align-items: center;
  background-clip: padding-box;
  background-color: $bright-lilac;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 1rem;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.product-form-button:hover,
.product-form-button:focus {
  background-color: #616283ff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.product-form-button:hover {
  transform: translateY(-1px);
}

.product-form-button:active {
  background-color: #616283ff;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}


.product-add-container {
  display: flex;
  margin: auto;
  width: 30rem;
  min-height:50vh;
  justify-content: center;
  background-color: $bright-magnolia;
  border-radius: 5px;
}

.product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align-last: center;
  margin: auto;
  gap: 10px;
}

.product-form > input {
  width: 20rem;
  border: none;
  border-bottom: 1px solid $dark-blue-gray;
  border-radius: 5px;
}

.product-form-selector {
  width: 20rem;
  border: none;
  border-bottom: 1px solid $dark-blue-gray;
  color: #818181;
}

.product-form-selector > option:checked {
  color: $magnolia;
  background-color: $dark-blue-gray;
}

input[type="file"] {
  width: 20rem;
  padding: 10px;
  background-color: $bright-lilac;
  color: $rich-black-fogra-29;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5rem;
  width: 15rem;
  border-radius: 5px;
  input {
    display: none;
  }
}
