$imperial-red: #e63946ff;
$rich-black-fogra-29: #0e1116ff;
$magnolia: #ece6ef;
$dark-blue-gray: #616283ff;
$bright-lilac: #cb9cf2ff;

.product-form-button {
  align-items: center;
  background-clip: padding-box;
  background-color: $bright-lilac;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 1rem;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.product-form-button:hover,
.product-form-button:focus {
  background-color: #616283ff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.product-form-button:hover {
  transform: translateY(-1px);
}

.product-form-button:active {
  background-color: #616283ff;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.product-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15rem;
  padding: 0;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  width: 30rem;
  height: 30rem;
  filter: drop-shadow(5px 5px 3px gray);
}

.product-form > input {
  width: 20rem;
  border: none;
  border-bottom: 1px solid gray;
}

.product-form-selector {
  width: 20rem;
  border: none;
  border-bottom: 1px solid gray;
  color: #818181;
}

.product-form-selector > option:checked {
  color: $magnolia;
  background-color: $dark-blue-gray;
}

.spec-form {
  border-top: #818181;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  width: 30rem;
  height: 25rem;
}

.spec-form > input {
  width: 20rem;
  border: none;
  border-bottom: 1px solid gray;
}
