.product-results {
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 15px;
    align-content: space-around;
    text-decoration: none;
    justify-content: center;

}