@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

$imperial-red: #e63946ff;
$rich-black-fogra-29: #0e1116ff;
$magnolia: #ECE6EF;
$dark-blue-gray: #616283ff;
$bright-lilac: #cb9cf2ff;

main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root, body {
  background-color: $magnolia;
  margin: 0;
  padding: 0;
}

footer {
  padding-top: 5rem;
  margin-top: auto;
}

* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;

}

